
.ue-add {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.ue-add > h1 {
  margin: 0 0 0.2em;
}



.ue-events-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
