.home-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30%;
}

.hp-mid {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hp-mid > h1 {
  text-align: center;
}

.hp-event-cont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
